# Archivos de caché y compilados de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Entornos virtuales
venv/
env/
ENV/
.venv/

# Archivos de configuración de VS Code y editores
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db